$font-dm-serif: "DM Serif Display","Times New Roman", serif;
$font-karla:"Karla","Arial",sans-serif;
$color-dark:#2D2641;
$color-black:#2C2830;
$color-gray:#837D88;
$color-light-gray: #DADADA;
$color-pink:#C396C6;
$color-white:#fff;
